.button{
	height: 100%;
	width: 100%;
}

.icons{
	font-size: 50pt;
}

.div_form{
	justify-content: center
}

.zagolovok_color{
	color: white;
}

.position_foto_d{
	position: relative;
	right: -190px;
	top: 90px;
}